Source: ros-kilted-nav2-minimal-tb4-sim
Section: misc
Priority: optional
Maintainer: Steve Macenski <steve@opennav.org>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-nav2-minimal-tb4-description, ros-kilted-robot-state-publisher, ros-kilted-ros-gz-bridge, ros-kilted-ros-gz-image, ros-kilted-ros-gz-interfaces, ros-kilted-ros-gz-sim, ros-kilted-xacro, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-nav2-minimal-tb4-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-nav2-minimal-tb4-description, ros-kilted-robot-state-publisher, ros-kilted-ros-gz-bridge, ros-kilted-ros-gz-image, ros-kilted-ros-gz-interfaces, ros-kilted-ros-gz-sim, ros-kilted-xacro, ros-kilted-ros-workspace
Description: Nav2 Minimum TurtleBot4 Simulation
