Source: ros-rolling-nav2-minimal-tb4-description
Section: misc
Priority: optional
Maintainer: Steve Macenski <steve@opennav.org>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-joint-state-publisher, ros-rolling-robot-state-publisher, ros-rolling-urdf, ros-rolling-xacro, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-nav2-minimal-tb4-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-joint-state-publisher, ros-rolling-robot-state-publisher, ros-rolling-urdf, ros-rolling-xacro, ros-rolling-ros-workspace
Description: Nav2's minimum Turtlebot4 Description package
