Source: ros-jazzy-nav2-minimal-tb4-sim
Section: misc
Priority: optional
Maintainer: Steve Macenski <steve@opennav.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-nav2-minimal-tb4-description, ros-jazzy-robot-state-publisher, ros-jazzy-ros-gz-bridge, ros-jazzy-ros-gz-image, ros-jazzy-ros-gz-interfaces, ros-jazzy-ros-gz-sim, ros-jazzy-xacro, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-nav2-minimal-tb4-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-nav2-minimal-tb4-description, ros-jazzy-robot-state-publisher, ros-jazzy-ros-gz-bridge, ros-jazzy-ros-gz-image, ros-jazzy-ros-gz-interfaces, ros-jazzy-ros-gz-sim, ros-jazzy-xacro, ros-jazzy-ros-workspace
Description: Nav2 Minimum TurtleBot4 Simulation
